<h1><%= @room.name || "Room ##{@room.id}" %></h1>

<p><%= link_to "â† Back to rooms", rooms_path %></p>

<div id="messages">
  <% if @room.messages.any? %>
    <%= render partial: "campfire/messages/message", collection: @room.messages.ordered.with_creator %>
  <% else %>
    <p>No messages yet. Be the first to post!</p>
  <% end %>
</div>

<%= turbo_stream_from @room, :messages %>

<h3>Post a message</h3>
<%= form_with model: [:campfire, @room, Campfire::Message.new], url: room_messages_path(@room) do |f| %>
  <%= f.rich_text_area :body, placeholder: "Type your message..." %>
  <%= f.submit "Post Message" %>
<% end %>
