<!DOCTYPE html>
<html>
<head>
  <title>Campfire</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag    "campfire/application", media: "all" %>
  <%= campfire_importmap_tags %>
</head>
<body>

<aside id="sidebar">
  <%= turbo_frame_tag "sidebar", src: sidebar_path, loading: :lazy %>
</aside>

<div id="main-content-with-sidebar">
  <%= yield %>
</div>

</body>
</html>
