<!DOCTYPE html>
<html>
<head>
  <title>Campfire</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag "campfire/application", media: "all" %>
  <%= campfire_importmap_tags %>
</head>
<body class="sidebar">

<nav id="nav">
  <% if content_for?(:nav_content) %>
    <%= yield :nav_content %>
  <% else %>
    <a href="<%= rooms_path %>" class="btn">
      <span class="for-screen-reader">Back to all rooms</span>
      ←
    </a>
  <% end %>
</nav>

<main id="main-content">
  <%= yield %>
</main>

<aside id="sidebar" class="open">
  <%= turbo_frame_tag "sidebar", src: campfire.sidebar_path %>
</aside>

</body>
</html>
